<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tamarack Lane Community Garage Sale - Redmond, WA - June 23, 2012 - 8am to 3pm - NE 50th Court</title>
        <style type="text/css">
            #main{
                margin: 0 auto;
            }
            
            #body{
                float: left;
            }
            
            #sidebar{
                float: right;
                width: 500px;
            }
            
            a{
                font-family: Verdana;
            }
        </style>
    </head>
    <body>
        <div id="main">
            <div id="body">
            <h1>Tamarack Lane Community Garage Sale</h1>
            <h2>Redmond, WA - June 23, 2012 - 8am to 3pm</h2>
            <h3>Hosted at the end of NE 50th Ct., Redmond, WA 98052</h3>
            <h4>Next to Microsoft Main Campus, 1 minute from 520 off NE 51st St., up the hill from Marymoor Park</h4>
            </div>
            <div id="sidebar">
                <img src="App_Images/Tamarack.png" alt="Tamarack Lane community sign, as seen from NE 51st St." style="width: 500px;" />
                <div id="mapviewer"><iframe id="map" Name="mapFrame" scrolling="no" width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/?lvl=16&amp;cp=47.653630629174884~-122.13054835796358&amp;sty=h&amp;draggable=true&amp;v=2&amp;dir=0&amp;where1=NE+50th+Ct%2C+Redmond%2C+WA+98052&amp;form=LMLTEW&amp;pp=47.65400314331055~-122.12894439697266&amp;mkt=en-us&amp;emid=ae168ddc-1bb0-6993-3434-692abeb612e7&amp;w=500&amp;h=400"></iframe><div id="LME_maplinks" style="line-height:20px;"><a id="LME_largerMap" href="http://www.bing.com/maps/?cp=47.653630629174884~-122.13054835796358&amp;sty=r&amp;lvl=16&amp;where1=NE 50th Ct, Redmond, WA 98052&amp;mm_embed=map&amp;form=LMLTEW" target="_blank">View Larger Map</a>&nbsp;<a id="LME_directions" href="http://www.bing.com/maps/?cp=47.653630629174884~-122.13054835796358&amp;sty=r&amp;lvl=16&amp;rtp=~pos.47.653630629174884_-122.13054835796358_NE 50th Ct, Redmond, WA 98052&amp;mm_embed=dir&amp;form=LMLTEW" target="_blank">Get Directions</a>&nbsp;<a id="LME_birdsEye" href="http://www.bing.com/maps/?cp=ry81b34tp67z&amp;sty=b&amp;lvl=18&amp;where1=NE 50th Ct, Redmond, WA 98052&amp;mm_embed=be&amp;form=LMLTEW" target="_blank">View Bird's Eye</a></div></div>
            </div>
        </div>
    </body>
</html>
